@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  background: linear-gradient(to right, #0076ce, #9400d3);
}
.bg-gradient {
  background: linear-gradient(
    74.71deg,
    #fce9f3 0%,
    #fcf6fc 31.77%,
    #c5eaed 64.58%,
    #fae3fb 100%
  );
}
.text-grad {
  color: linear-gradient(to right, #0076ce, #9400d3);
}
